body {
    background-color: white !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;

}
.common{
    /* background-color: white !important; */
    border: 2px solid white !important;
    position: absolute !important;
}
.top {
    top: 500px !important;
    left: 5px !important;
    right: 5px !important;
    height: 100px !important;
    z-index: 2 !important;
}
.left {
    top: 50px !important;
    left: 5px !important;
    width: 20% !important;
    bottom: 39px !important;
    z-index: 1 !important;
    margin-left: 20px !important;

}
.mainbody {
}
.footer {
    left: 5px !important;
    right: 5px !important;
    height: 25px !important;
    font-size: 8px !important;
    color: #999999 !important;
    text-align: center !important;
    padding-top: 15px !important;
    position: fixed !important;
}
.right{
    right: 5px !important;
    bottom: 39px !important;
    padding-left: 5px !important;
    float: right !important;
    margin-right: 20px !important;
}
