
.heading {
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    font-weight: bolder !important;
    font-size: 100% !important;
    color: rgb(2, 76, 2) !important;
    text-align: center !important;
}
.bg {
    background-image: url(../assets/img/trees.png)
}
.list {
    font-family: Georgia, 'Times New Roman', Times, serif !important;
    font-weight: bold !important;
    font-size: 100% !important;
}
.scroll {
    font-family:cursive !important;
    text-align: center !important;
}
.background {
    border-width: 1px !important;
    border-style:hidden !important;
    background-color: antiquewhite !important;
    width: 50% !important;
    text-align: center !important;

}
.video {
 display: block !important;
 margin: 0 auto !important;
 text-align: center !important;
}
.border {
    border-color: black !important;
    border-width: 10px !important;

}
.width {
    width:50% !important;
}
